html {
  scroll-behavior: smooth;
}

body{
  margin: 1em;
  padding: 3em;
  width: auto;
  display: grid;
  color: #FFFFFF;
  text-align: left;
  background-image: url('assets/images/wall.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
  overflow-y: hidden;
}

.header_img {
  font-size: x-large;
}

.container {
  font-size: large;
  position: static;
  margin:4px, 4px;
  padding:4px;
  width: 80%;
  height: 80%;
  overflow-x: auto;
  overflow-y: auto;
  text-align:justify;
}

.main_text_item {
  color: #FFFFFF;
  margin-top: 1em;
  min-height: 6em;
}

li.nostyle {
  list-style-type: none;
}

.header_img img {
  height: 13em;
  width: 13em;
  border: 1px solid #1f232e;
  border-radius: 50%;
  margin-bottom: 0.5em;
}


