body{
  margin: 1em;
  padding: 3em;
  width: auto;
  text-align: left;
  color: #FFFFFF;
  background-image: url('assets/images/wall.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
}

a{
  color: #FFFFFF;
}

.container {
  font-size: x-large;
}

li.nostyle {
  list-style-type: square;
}

.header_img img {
  height: 13em;
  width: 13em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #1f232e;
  border-radius: 50%;
  margin-bottom: 0.5em;
}

.main_text_item {
  color: #dedede;
  margin-top: 1em;
  min-height: 6em;
}

.header_logo img {
  display: inline;
  height: 3em;
  width: 3em;
  border: 1px solid #1f232e;
  border-radius: 50%;
  margin-bottom: 0.5em;
}
